You can choose to enable a more compact line height from the view settings menu.
db.sqlite3 Binary file not shown. myapp/forms.py +18 Original file line number
Diff line number Diff line change from django import forms from
django.contrib.auth.models import User from .models import Product, Return class
UserRegistrationForm(forms.ModelForm): class Meta: model = User fields =
['username', 'password'] class ProductForm(forms.ModelForm): class Meta: model =
Product fields = ['name', 'price', 'stock'] class ReturnForm(forms.ModelForm):
class Meta: model = Return fields = ['product', 'reason']
myapp/templates/myapp/login.html +18 Original file line number Diff line number
Diff line change
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Логин</title>
    </head>
    <body>
        <h2>Вход в систему</h2>
        <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Войти</button>
        </form>
        <p>
            Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a>
        </p>
    </body>
</html>
myapp/templates/myapp/logout.html +12 Original file line number Diff line number
Diff line change
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Выход</title>
    </head>
    <body>
        <h2>Вы успешно вышли из системы.</h2>
        <p><a href="{% url 'login' %}">Войти снова</a></p>
    </body>
</html>
